<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <h3 th:text="${invoice.description}"></h3>
<div>Customer: <span th:utext="${invoice.customer.name}"></span></div>
<h4>Invoice's Details</h4>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item: ${invoice.items}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.importCalc()}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>